body {
  font-family: 'Montserrat';
}

#title {
  background-color: #ff4c68;
  color: #fff;
}

.container-fluid {
  padding: 3% 15%;
}

h1 {
  font-family: 'Montserrat-Black', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
}

.navbar {
  padding-bottom: 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 3rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-light"
}

.download-button {
  margin: 5% 3% 5% 0;
}

#title {
  position: relative;
  z-index: -1;
}

.title-image {
  width: 20%;
  transform: rotate(25deg);
  position: absolute;
  z-index: 0;
}

h2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 3rem;
  line-height: 1.5;
}

h3 {
  padding-top: 2rem;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.5rem;
}

p {
  color: #8f8f8f;
}

#features {
  background-color: white;
  padding: 7% 15%;
}

.feature-box {
  text-align: center;
  padding: 3%;
}

.icon {
  color: #ef8172;
}

.icon:hover {
  color: #ff4c68;
}

.carousel-item {
  padding: 7% 15%;
}

#testimonials {
  background-color: #ff4c68;
  text-align: center;
  color: #fff;
}

.testimonial-image {
  border-radius: 100%;
  width: 20%;
  margin: 20px;
}

#press {
  background-color: #ff4c68;
  text-align: center;
  padding-bottom: 3%;
}

.press-image {
  width: 15%;
  margin: 20px 20px 50px;
}

#pricing {
  padding: 100px;
  text-align: center;
}

.pricing-col {
  padding: 3% 2%;
}

#cta {
  background-color: #ff4c68;
  padding: 100px;
  text-align: center;
}


.cta-text {
  color: #fff;
  font-size: 3.5rem;
  margin: 40px;
  font-family: 'Ubuntu', sans-serif;
}
.cta-button {
  margin: 20px;
}
@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .title-image {
    width: 50%;
    transform: rotate(0);
    position: static;
  }
}




#footer {
  text-align: center;
}

.footer-icon {
  margin: 6px;
}

.footer-par {
  font-family:'Ubuntu', sans-serif;
  color: grey;
  margin: 5px;
}
.footer-container {
  padding: 6rem;
}
